.App {
  text-align: center; 
}

.App .Button {
  background-color: white;
  font: inherit;
  border: 1px blue solid;
  padding: 8px;
}

.App .Button:hover {
  background-color: aquamarine;
  color: black;
}

